@tailwind base;
@tailwind components;
@tailwind utilities;
.ak_accent_text {
  color: #17a589;
}

.ak_black {
  color: black;
}

.ak_text_label span {
  color: #0099b7;
  font-weight: bold;
  font-size: 1.2rem;
}

.ak_hoverable_light:hover {
  background: #a9a9a9;
}

.ak_slow_transition, #expense_form:hover .form-group input, #expense_form:hover, .ak_hover_shadow:hover {
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.ak_hover_shadow:hover {
  box-shadow: 1px 3px #b5d9cc;
}

#expense_form .form-group input {
  margin-bottom: 30px;
}

#expense_form:hover {
  border-radius: 5px;
}
#expense_form:hover .form-group input {
  transition-duration: 400ms;
}

#expense li {
  color: black;
  border: none;
}

#expense {
  border-radius: 5px;
}

.red_text {
  color: red;
}

.ak_max_600px {
  max-width: 600px !important;
}

.ak_light_bkg {
  background: #fdfdfd;
}

.ak_full_height, .ak_full_size {
  height: 100vh;
}

.ak_full_width, .ak_full_size {
  width: 100%;
}

.ak_card {
  background: #f6f6f6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 3px #f3f3f3;
}

a {
  cursor: pointer;
}

.ak_rounded_corners {
  border-radius: 10px;
}

.ak_center_abs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.ak_low_opacity {
  opacity: 80%;
}

.ak_button, .ak_button_inverted {
  background-color: #e5fdf3;
  border-color: transparent;
  /*border-radius: 5px;*/
  border-bottom-width: 4px;
  border-right-width: 2px;
  border-left: none;
  border-top: none;
  cursor: pointer;
}

.ak_button:hover, .ak_button_inverted:hover {
  background-color: #e5fdf3;
  border-color: #17a589;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.ak_button_inverted {
  background-color: #94dabd;
  border-color: #17a589;
  color: black;
  font-weight: bold;
  /*border-radius: 5px;*/
  cursor: pointer;
}
.ak_button_inverted:hover {
  color: white;
  background-color: #17a589;
  border-color: #64937e;
}

.ak_highlight {
  font-weight: bold;
  color: #17a589;
  font-size: 1.1rem;
}

.btn_ak_outline {
  border: 1px solid #17a589;
  color: red;
}

.hoverable:hover {
  /*color: white;*/
  background-color: #e5fdf3;
  border-color: #17a589;
  /*border-radius: 5px;*/
  border-bottom-width: thick;
  border-right-width: thick;
  border-left: none;
  border-top: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  /*transition-delay: 100ms;*/
}

.ak_header {
  width: 100%;
  color: #17a589;
  border-radius: 5px;
}

.ak_close_button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  align-self: flex-end;
  position: absolute;
  color: #EF3B3A;
  background: white;
  border: #EF3B3A;
}

.ak_close_button:hover {
  cursor: pointer;
  color: white;
  background: #EF3B3A;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.toggle-label {
  position: relative;
}
.toggle-label:before {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  display: block;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999%;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23a0aec0" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
  transition: transform 0.15s cubic-bezier(0, 0, 0.2, 1);
  transform: translateX(0);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(1.5rem);
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23a0aec0" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>');
}

.toggle.slim .toggle-label:before {
  top: -0.15rem;
  left: 0;
}
.toggle.slim .toggle-checkbox:checked + .toggle-label:before {
  transform: translateX(1.75rem);
}
.toggle.colour .toggle-label {
  background-color: #feb2b2;
}
.toggle.colour .toggle-checkbox:checked + .toggle-label {
  background-color: #9ae6b4;
}

#backdrop {
  --dark: #101315;
  --light: #eeeeee;
  --gradient: linear-gradient(10deg, #ffaa00, #ff6a00);
  --gradient2: linear-gradient(15deg, #04ea00, #00d17d);
  --gradient3: linear-gradient(15deg, #b648ff, #ef5dff);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

#modal {
  --dark: #101315;
  --light: #eeeeee;
  --gradient: linear-gradient(10deg, #ffaa00, #ff6a00);
  --gradient2: linear-gradient(15deg, #04ea00, #00d17d);
  --gradient3: linear-gradient(15deg, #b648ff, #ef5dff);
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  margin: auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#modal .modal-button {
  position: relative;
  bottom: 1.5rem;
  padding: 0 3rem;
  min-height: 3rem;
  margin: auto auto 0 auto;
  background: var(--dark);
  color: var(--light);
}

#modal button {
  width: auto;
  height: 3rem;
  border: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 1.25px;
  cursor: default;
  font-family: "Montserrat", sans-serif;
}

div.scrollable::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper_inner {
  overflow: auto;
  margin-bottom: 4.5rem;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 4rem;
}

/*# sourceMappingURL=globals.css.map */
